#nav-top {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: #0095ce;
}

#quick_search {
    position: absolute;
    right: 30px;
    top: 18px;
    width: 200px;
    border-radius: 28px;
    padding: 3px 10px 3px 10px;
}
