body {
    background-color: #292929;
    font-family: 'Abel', sans-serif;
}

#count-box {
    position: absolute;
    top: 20%;
    left: 1%;
    width:120px;
    height:150px;
    
}
    

#progress_correct_count {
    height:70px;
    font-size: 19px;
    color: green;
    text-decoration: none;
    text-align: center;
    padding-top: 25px;
    background-size:120px 95px;
    background-image: url("../img/correct.png");
    background-repeat:no-repeat;
  
}

#progress_wrong_count {
    margin-top:20px;
    height:75px;
    font-size: 19px;
    color: red;
    text-decoration: none;
    text-align: center;
    padding-top: 24px;
    background-size:120px 95px;
    background-image: url("../img/in.png");
    background-repeat:no-repeat;

}

.nav_top a {
    font-size: 12px;
    color: white;
}

.nav_top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_top li {
    display: inline;
    padding: 0 8px 0 8px;
}

#user_menu {
    position: absolute;
    visibility: hidden;
}

#user_menu li {
    display: block;
}

#user_menu a {
    color: white;
}

#nav_left{
    float: left;
}

#nav_right{
    float: right;
}

#word_display_div {
    position: absolute;
    height: 100px;
    width: 800px;
    margin: -50px 0 0 -400px;
    top: 40%;
    left: 50%;
    font-size: 80px;
    color: white;
    text-align: center;
}

#word_display_span {
    padding-left: 80px;
}

#button_group {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    margin-left: -220px;
    font-size: 20px;
}

.check_button {
    display: inline;
    margin: 50px;
    padding: 5px 50px 5px 50px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#dictionary_link {
    text-decoration: none;
}

#dictionary {
    border: 1px solid #838383;
    font-size:10px;
    margin-left: -10px;
    padding-left:2px;
    padding-right:2px;
    color: #838383;
    cursor: pointer;
}
