div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
}

p {
    color: white;
    text-align: center;
    font-size: 50px;
    border: 1px solid red;
    position: absolute;
    top: 50%;
}
